.traject {
  &__header {
    padding: 5.5rem 0 2rem 0;
    margin-bottom: 0;

    color: #ffffff;
    background-color: $primary-color;

    hr {
      border-top: 1px solid rgba(255, 255, 255, .2);
    }
  }
}

#stap-per-stap > .container > .row > div > hr {
  margin-bottom: 1rem;
}
